<html>
<head>
         <title></title>
</head>
<body>
         <p>
                   <b>Nome:</b> <%= @municipes.nome %>
         </p>
         <p>
                   <b>CPF:</b> <%= @municipes.cpf %>
         </p>
         <p>
                   <b>CNS:</b> <%= @municipes.cns %>
         </p>
         <p>
                   <b>Email:</b> <%= @municipes.emailmunicipe %>
         </p>
         <p>
                   <b>Data Nascimento:</b><%= @municipes.nascimento %>
         </p>
	 <p>
                   <b>Data Cadastro:</b> <%= @municipes.data %>
         </p>
</body>
</html>