<div id="<%= dom_id municip %>">
  <p>
    <strong>Nome:</strong>
    <%= municip.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= municip.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= municip.cns %>
  </p>

  <p>
    <strong>Emailmunicipe:</strong>
    <%= municip.emailmunicipe %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= municip.data %>
  </p>

  <p>
    <strong>Nascimento:</strong>
    <%= municip.nascimento %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= municip.telefone %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= municip.foto %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= municip.status %>
  </p>

</div>
